.event-filters, .order-sort
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.event-filters > *
{
    margin-right: 10px;
}